version: "3.8"

services:
  waha:
    image: devlikeapro/waha:{{ waha_version | default('latest') }}
    deploy:
      mode: replicated
      replicas: 1
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_public_network"
      - "traefik.http.routers.waha.rule=Host(`waha.labz.tr`)"
      - "traefik.http.routers.waha.entrypoints=websecure"
      - "traefik.http.routers.waha.tls.certresolver=myresolver"
      - "traefik.http.services.waha.loadbalancer.server.port=3000"
    environment:
      - WAHA_PRINT_QR=True
      - WAHA_API_KEY={{ waha_api_key }}
      - WAHA_DASHBOARD_USERNAME={{ waha_dashboard_username | default('admin') }}
      - WAHA_DASHBOARD_PASSWORD={{ waha_dashboard_password }}
      - WHATSAPP_RESTART_ALL_SESSIONS=True
      - WHATSAPP_SWAGGER_ENABLED=True
      - WHATSAPP_SWAGGER_USERNAME={{ waha_swagger_username | default('admin') }}
      - WHATSAPP_SWAGGER_PASSWORD={{ waha_swagger_password }}
    volumes:
      - waha_data:/app/.sessions
    networks:
      - traefik_public_network

networks:
  traefik_public_network:
    external: true

volumes:
  waha_data:
