version: "3.8"
services:
  traefik:
    image: traefik:v2.9
    ports:
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.myresolver.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.myresolver.acme.email={{ acme_email }}"
      - "--certificatesresolvers.myresolver.acme.storage=/opt/traefik/acme.json"
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.entryPoint=metrics"
      - "--entrypoints.metrics.address=:9100"
      - "--providers.file.directory=/opt/traefik"
      - "--providers.file.watch=true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/traefik/:/opt/traefik/
    environment:
      - CF_API_EMAIL={{ cloudflare_email }}
      - CF_DNS_API_TOKEN={{ cloudflare_api_key }}
    networks:
      - traefik_public_network
networks:
  traefik_public_network:
    external: true
